<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Содержание файла</title>
    <style>
        .buttn {
            display: inline-block;
            background: #472486;
            color: #ffffff;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 3px;
        }
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<div>
    <a href="/index" class="buttn">Главная</a>
</div>
<body>
    <h1>Содержание файла {{ file_info.file_name }}</h1>
    <h3>Данные:</h3>
    <h4>{{ file_info.file_column_name }}</h4>
    <table>
        <tbody>
            {% for data in file_data %}
            <tr>
                <li>{{ data.column_data }}</li>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
    <a href="/file_sorting?file_name={{file_info.file_name}}" class="buttn">Отсортировать поля</a>
</div>
</body>
</html>