<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Успешное скачивание</title>
    <style>
        .buttn {
            display: inline-block;
            background: #472486;
            color: #ffffff;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 3px;
        }
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<div>
    <a href="/index" class="buttn">Главная</a>
</div>
<h1>Файл успешно скачан</h1>
</html>